{% extends 'base.html' %}

{% block title %}
Data
{% endblock %}

{% block body %}
    <h1>Территориальная программа государственных гарантий бесплатного оказания гражданам медицинской помощи в городе Москве на 2017 год и на плановый период 2018 и 2019 годов</h1>
    <table border="1">
    <caption>Территориальная программа государственных гарантий бесплатного оказания гражданам медицинской помощи в городе Москве на 2017 год и на плановый период 2018 и 2019 годов</caption>
    <tr>
    <th>id</th>
    <th>Полное наименование медицинского учреждения</th>
    <th>Признак осуществления организацией здравоохранения деятельности в сфере бесплатного оказания гражданам медицинской помощи в городе Москве</th>
    </tr>
    {% for el in articles %}
        <tr><td>{{ el.num }}</td><td>{{ el.title }}</td><td>{{ el.text }}</td></tr>
    {% endfor %}
    </table>
</div>
{% endblock %}